<div id="home" class="section">
<div class="relative flex flex-col items-center justify-start w-screen h-screen bg-cover bg-center" style="background-image: url('https://i.pinimg.com/564x/2d/09/7e/2d097eac85f0bccc6078ff69a8aa7007.jpg')">
  <div class="absolute inset-0 bg-gradient-to-b from-black via-black/40 to-transparent"></div>
  <div class="z-50 flex flex-col">
    <app-nav />
    <div class="flex flex-col items-center justify-center mt-40 space-y-4">
      <h1 class="text-8xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-blue-600 to-blue-950">
        Traducteur Guelma
      </h1>
      <h2 class="text-5xl font-semibold text-blue-700">Bureau de traduction</h2>
      <h3 class="text-3xl text-gray-300 font-medium">Traductions Officielles Assermentées</h3>
      <p class="text-xl text-gray-200">Tout type de documents</p>
      <p class="text-xl text-gray-200">Service rapide</p>
      <p class="text-xl text-gray-200 mb-8">Agrée par l'état</p>
      <a href="#" class="w-72 bg-gradient-to-r from-blue-600 to-blue-950 text-white font-bold py-4 px-10 rounded-lg shadow-lg hover:from-blue-950 hover:to-blue-400 transition-all duration-300 ease-in-out">
        Commandez maintenant
      </a>
    </div>
  </div>
  </div>
</div>


<div id="about" class="section">
<div class="flex w-screen h-[600px] flex-row" #parentDiv>
  <div id="imageSection"
       class="flex-1 bg-cover mt-20 mb-20 ml-20 opacity-0 transition-transform duration-1000 ease-in-out transform"
       style="background-image: url('https://i.pinimg.com/564x/b1/68/9a/b1689a3515b86ff95229aca97ca94f8e.jpg')">
  </div>

  <div id="textSection"
       class="flex-1 flex items-center justify-center p-12 opacity-0 transition-transform duration-1000 ease-in-out transform">
    <div class="text-center max-w-xl">
      <p class="text-4xl font-bold text-blue-800 mb-12 text-center">
        Notre Bureau de Traduction
      </p>
      <p class="text-md text-gray-700 mb-8">
        Vous recherchez un traducteur expert assermenté à Paris pour traduire vos documents officiels ?
      </p>
      <p class="text-md text-gray-700 mb-8">
        Nous offrons des services de traduction professionnels et certifiés
      </p>
      <p class="text-md text-gray-700 mb-8">
         Arabe - Français - Anglais.
      </p>
      <a class="bg-gradient-to-r from-blue-600 to-blue-950 text-white py-3 px-8 rounded-lg shadow-lg">
        Nos Services
      </a>
    </div>
  </div>
</div>
</div>



<div id="services" class="section">
<div class="w-screen py-12 flex items-center mt-24 justify-center" #cardSection>
  <div class="w-full p-12 sm:px-6 lg:px-8 bg-gray-100">
    <h2 class="text-4xl font-bold text-blue-800 mb-12 text-center">
      Nos Services
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-[85%] left-[7%] relative">

      <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-500 hover:scale-105 hover:-translate-y-2 hover:shadow-2xl animate-scaleUp" style="animation-delay: 0s;" >
        <div class="p-6">
          <p class="text-2xl font-semibold text-blue-800 mb-4 border-b-2 border-blue-500 pb-2">
            Traductions Officielles
          </p>
          <p class="text-gray-700 mb-4 p-4 h-[230px] bg-blue-50 rounded-lg shadow-inner">
            <span class="block mb-2">Traducteurs experts assermentés</span>
            <span class="block mb-2">Valable pour mairie, université, tribunal, notaire</span>
            <span class="block mb-2">Délais très rapides</span>
            <span class="block mb-2">Meilleurs tarifs</span>
            <span class="block">Apostille & Légalisation</span>
          </p>
        </div>
      </div>

      <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-500 hover:scale-105 hover:-translate-y-2 hover:shadow-2xl animate-scaleUp" style="animation-delay: 0.7s;">
        <div class="p-6">
          <h3 class="text-2xl font-semibold text-blue-800 mb-4 border-b-2 border-blue-500 pb-2">
            Traductions Spécialisées
          </h3>
          <p class="text-gray-700 mb-4 p-4 h-[230px] bg-blue-50 rounded-lg shadow-inner">
            <span class="block mb-2">Traduction juridique</span>
            <span class="block mb-2">Traduction technique</span>
            <span class="block mb-2">Traduction scientifique</span>
            <span class="block mb-2">Traduction médicale</span>
            <span class="block mb-2">Traduction informatique</span>
            <span class="block">Traduction littéraire</span>
          </p>
        </div>
      </div>

      <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-500 hover:scale-105 hover:-translate-y-2 hover:shadow-2xl animate-scaleUp" style="animation-delay: 1.4s;">
        <div class="p-6">
          <h3 class="text-2xl font-semibold text-blue-800 mb-4 border-b-2 border-blue-500 pb-2">
            Traductions Agréées par l'État
          </h3>
          <p class="text-gray-700 mb-4 p-4 h-[230px] bg-blue-50 rounded-lg shadow-inner">
            <span class="block mb-2">Officiellement reconnues par les autorités gouvernementales</span>
            <span class="block mb-2">Certifiées pour une utilisation dans toutes les démarches</span>
            <span class="block mb-2">Garanties de conformité avec les normes légales</span>
            <span class="block mb-2">Obtention rapide des documents traduits</span>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>



<div id="hours" class="section">
<div class="w-screen flex items-center justify-center mt-40">
  <div class="w-full max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold text-blue-800 mb-12 text-center">
      Horaires
    </h2>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-500 hover:scale-105 hover:-translate-y-2 hover:shadow-2xl">
      <div class="p-6">
        <h3 class="text-2xl font-semibold text-blue-800 mb-6 border-b-2 border-blue-500 pb-2">
          Heures d'Ouverture
        </h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

          <div class="flex items-center bg-blue-50 p-4 rounded-lg shadow-md">
            <div class="w-1/3 text-blue-800 font-semibold text-lg">
              Dimanche - Jeudi
            </div>
            <div class="w-2/3 text-gray-700 text-lg">
              09:00 - 17:00
            </div>
          </div>

          <div class="flex items-center bg-blue-50 p-4 rounded-lg shadow-md">
            <div class="w-1/3 text-blue-800 font-semibold text-lg">
              Samedi
            </div>
            <div class="w-2/3 text-gray-700 text-lg">
              10:00 - 14:00
            </div>
          </div>

          <div class="flex items-center bg-blue-50 p-4 rounded-lg shadow-md">
            <div class="w-1/3 text-blue-800 font-semibold text-lg">
              Vendredi
            </div>
            <div class="w-2/3 text-gray-700 text-lg">
              Fermé
            </div>
          </div>

          <div class="flex items-center bg-blue-50 p-4 rounded-lg shadow-md">
            <div class="w-1/3 text-blue-800 font-semibold text-lg">
              Horaires Spéciaux
            </div>
            <div class="w-2/3 text-gray-700 text-lg">
              Jours fériés : Fermé
            </div>
          </div>
        </div>
        <p class="mt-6 text-gray-700">
          N'hésitez pas à nous contacter pour toute question ou pour prendre rendez-vous en dehors de nos horaires habituels.
        </p>
      </div>
    </div>
  </div>
</div>
</div>




<div id="contact" class="section">
<div class="w-screen mt-40 py-12 flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-bold text-blue-800 mb-12 text-center">
      Contactez-Nous
    </h2>
    <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-500">
      <div class="p-6">
        <h3 class="text-2xl font-semibold text-blue-800 mb-6 border-b-2 border-blue-500 pb-2">
          Formulaire de Contact
        </h3>
        <form action="#" method="POST">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
            <div class="flex flex-col">
              <label for="name" class="text-gray-700 font-semibold mb-2">Nom</label>
              <input type="text" id="name" name="name" class="p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div class="flex flex-col">
              <label for="email" class="text-gray-700 font-semibold mb-2">Email</label>
              <input type="email" id="email" name="email" class="p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
          </div>
          <div class="flex flex-col mb-6">
            <label for="message" class="text-gray-700 font-semibold mb-2">Message</label>
            <textarea id="message" name="message" rows="4" class="p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required></textarea>
          </div>
          <button type="submit" class="w-full bg-gradient-to-r from-blue-600 to-blue-950 text-white py-3 px-6 rounded-lg shadow-lg hover:from-blue-500 hover:to-blue-800 transition duration-300">
            Envoyer
          </button>
        </form>
      </div>
      <div class="p-6 bg-gray-200">
        <h3 class="text-2xl font-semibold text-blue-800 mb-6 border-b-2 border-blue-500 pb-2">
          Informations de Contact
        </h3>
        <div class="flex flex-col md:flex-row md:space-x-8">
          <div class="flex-1 mb-6">
            <h4 class="text-xl font-semibold text-blue-800 mb-4">Adresse</h4>
            <p class="text-gray-700">
              Rue anciens combattants, 1er étage, immeuble commun n° 01, escalier 01
              <br>
              24000 – GUELMA,ALGERIE            </p>
          </div>
          <div class="flex-1 mb-6">
            <h4 class="text-xl font-semibold text-blue-800 mb-4">Téléphone</h4>
            <p class="text-gray-700">
              +123
            </p>
          </div>
          <div class="flex-1 mb-6">
            <h4 class="text-xl font-semibold text-blue-800 mb-4">Email</h4>
            <p class="text-gray-700">
            </p>
          </div>
        </div>
        <div class="mt-8">
          <h4 class="text-xl font-semibold text-blue-800 mb-4">Nous Trouver</h4>
          <div class="aspect-w-16 aspect-h-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3208.724860756434!2d7.429254076107689!3d36.4642049723449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12f05dfd8cad247d%3A0x92b4c78e74459c7d!2sRue%20des%20Anciens%20Combattants%2C%20Guelma!5e0!3m2!1sfr!2sdz!4v1724345893023!5m2!1sfr!2sdz" class="w-[99.5%]" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<footer class="w-screen bg-blue-900 text-white py-12">
  <div class="container mx-auto px-6 lg:px-8">
    <div class="flex flex-col md:flex-row md:justify-between md:space-x-8">
      <!-- Bloc 1 : À propos -->
      <div class="flex-1 mb-8 md:mb-0">
        <h4 class="text-xl font-semibold text-blue-300 mb-4">À propos de nous</h4>
        <p class="text-gray-200">
          Traducteur Guelma est un bureau de traduction spécialisé dans les services de traduction assermentée, juridique, technique, et spécialisée, avec des traductions agréées par l'État.
        </p>
      </div>

      <!-- Bloc 2 : Liens rapides -->
      <div class="flex-1 mb-8 md:mb-0">
        <h4 class="text-xl font-semibold text-blue-300 mb-4">Liens rapides</h4>
        <ul class="space-y-2">
          <li><a href="#" class="hover:text-blue-400 transition duration-300">Accueil</a></li>
          <li><a href="#" class="hover:text-blue-400 transition duration-300">Nos Services</a></li>
          <li><a href="#" class="hover:text-blue-400 transition duration-300">À propos</a></li>
          <li><a href="#" class="hover:text-blue-400 transition duration-300">Contact</a></li>
        </ul>
      </div>

      <!-- Bloc 3 : Contact -->
      <div class="flex-1 mb-8 md:mb-0">
        <h4 class="text-xl font-semibold text-blue-300 mb-4">Contactez-nous</h4>
        <p class="text-gray-200">
          Rue anciens combattants, 1er étage, immeuble commun n° 01, escalier 01, 24000 – Guelma, Algérie
        </p>
        <p class="text-gray-200 mt-4">
          Téléphone: +123 <br>
          Email: contact
        </p>
      </div>

      <!-- Bloc 4 : Suivez-nous -->
      <div class="flex-1">
        <h4 class="text-xl font-semibold text-blue-300 mb-4">Suivez-nous</h4>
        <div class="flex space-x-4">
          <a href="#" class="text-blue-400 hover:text-white transition duration-300"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="text-blue-400 hover:text-white transition duration-300"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#" class="text-blue-400 hover:text-white transition duration-300"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" class="text-blue-400 hover:text-white transition duration-300"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </div>

    <!-- Lignes de séparation -->
    <div class="my-12 border-t border-blue-500"></div>

    <!-- Copie du bas de page -->
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-gray-400 text-center md:text-left">© 2024 Traducteur Guelma. Tous droits réservés.</p>
      <p class="text-gray-400 text-center md:text-right">Conçu par Traducteur Guelma</p>
    </div>
  </div>
</footer>










